
@font-face {
    font-family: 'SegoePro-Semibold';
    font-style: normal;
    font-weight: 400;
   /* src: url('../../../public/fonts/miriam-libre-v2-latin-regular.eot'); */
   /* src: url('../../../public/fonts/Miriam.eot?#iefix') format('embedded-opentype'),
       url('../../../public/fonts/miriam-libre-v2-latin-regular.eot') format('woff2'),
       url('../../../public/fonts/miriam-libre-v2-latin-regular.woff') format('woff'), */
    src: url('./fonts/SegoePro-Semibold.ttf') format('truetype')
}

@font-face {
    font-family: 'SegoePro-Regular';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/SegoePro-Regular.ttf') format('truetype')
}

@media screen and (min-width: 801px) {
  .oneBtn button {
    margin-left: 35%;
    float: left!important;
  }
}

@media screen and (max-width: 800px) {
  .oneBtn button {
  }
}

@media screen and (min-width: 801px) {
  .colStyle {
    height: 100%
  }
}

@media screen and (max-width: 800px) {
  .colStyle {

  }
}
.tiptext {
    font-family: SegoePro-Regular;
    font-size: 14px;
    color: #636363;
    text-align: center;
  }
